{% block stats_overview %}
    <div class="single-stat"><h2>{{puzzles_solved}}</h2><p>Puzzles Solved</p></div>
    <div class="single-stat"><h2>{{solve_rate}}%</h2><p>Solve Rate</p></div>
    <div class="single-stat"><div class="icon-stats-streak"></div><h2>{{current_streak}}</h2><p>Current Streak</p></div>
    <div class="single-stat"><div class="icon-stats-streak"></div><h2>{{longest_streak}}</h2><p>Longest Streak</p></div>
{% endblock stats_overview %}